* {
    margin: 0;
    padding: 0;
}
body {
    background-color: lightgray;
    font-family: Arial, Helvetica, sans-serif;
    color: black;
}
h1 {
    color: darkblue;
    text-align: center;
}
#container {
    width: 90%;
    margin: auto;
    overflow: hidden;
}
#task-creator {
    float: left;
    width: 45%;
    padding: 2.5%;
}
#task-list {
    float: center;
    width: 10%;
    padding: 2.5%;
}
#todo-form {
    margin: 20px, auto;
    text-align: center;
}
#todo-input {
    padding: 10px;
    width: 80%;
    margin-right: 10px;
    margin-top: 10px;
}
#todo-list {
    list-style-type: none;
    padding: 0;
    margin: 20px, auto;
}
#submit {
    padding: 5px;
    margin: 20px;
}
#todo-list li {
    text-align: center;
    background-color: #f2f2f2;
    padding: 10px;
    margin-top: 10px;
    cursor: pointer;
}